.plans_screen_plans {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	opacity: 0.8;
}

.plans_screen_plans:hover {
	opacity: 1;
}

.plans_screen_plans > button {
	padding: 10px 20px;
	background-color: #e50915;
	font-size: 1rem;
	color: white;
	font-weight: 600;
	border: none;
	cursor: pointer;
}
