.signup_screen {
	max-width: 300px;
	padding: 70px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.85);
}

.signup_screen > form {
	display: flex;
	flex-direction: column;
}

.signup_screen > form > input {
	outline: none;
	height: 40px;
	margin: 0 0 14px;
	border-radius: 5px;
	border: none;
	padding: 5px 15px;
}

.signup_screen > form > button {
	padding: 16px 20px;
	font-size: 1rem;
	color: #fff;
	border-radius: 5px;
	border: none;
	background-color: #e50914;
	cursor: pointer;
	margin: 20px 0 0;
}

.signup_screen > form > h1 {
	text-align: left;
	margin: 0 0 25px;
}

.signup_screen > form > h4 {
	text-align: left;
	margin: 30px;
	color: gray;
}

.signup_screen > form > h4 > a {
	color: white;
}

.signup_screen > form > h4 > a:hover {
	cursor: pointer;
	text-decoration: underline;
}
